.ChatList-Container {
  height: 100%;
  width: 25%;
  background-color: aliceblue;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
  overflow: hidden;
}

.chatList-Header {
  height: 25%;
  width: 100%;
  /* background-color: red; */
  /* border-bottom: 2px solid black; */
    /* Background-image: linear-gradient(to right, #5cc964, rgba(200, 246, 196, 1)); */
}

.chatList-Header-Logo {
  height: 40%;
  width: 100%;
  /* background-color: rgb(86, 24, 210); */
  display: flex;
}

.Header-Options-Container{
  height: 20%;
  width: 100%;
  /* background-color: rgb(86, 24, 210); */
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.Header-Item-Container{
  height: 30px;
  width: 30px;
  /* background-color: aquamarine; */
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: rgb(152, 141, 141);
  cursor: pointer;
}

.Header-Logo-Content {
  height: 40px;
  width: 60%;
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  margin-left: 10px;
  background: -webkit-linear-gradient(#01fe9c, #fb04c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Image {
  height: 40px;
  width: 40px;
  background-image: url("../../../LOGO.png");
  background-size: cover;
  /* background-color: blue; */
  margin-top: -5px;
}
.Header-Logout {
  height: 30px;
  width: 22%;
  /* background-color: rgb(159, 224, 30); */
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(124, 119, 119);
  font-size: 15px;
  display: flex;
  font-weight: bold;
}

.chatList-Header-SearchBar {
  height: 35px;
  width: 90%;
  margin-top: 15px;
  margin-left: 5%;
  margin-right: auto;
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
  border: none;
  outline: none;
  color: rgb(88, 71, 71);
  display: flex;
}
.Search-Icon{
  height: 30px;
  width: 10%;
  /* background-color: red; */
  margin-top: 1px;
  margin-left: 5px;
  font-size: 24px;
  text-align: center;
  color: gray;
}
.chatList-Header-SearchBar-Input{
  height: 35px;
  width: 90%;
  margin-right: auto;
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 5px;
  color: rgb(88, 71, 71);
  font-size: 15px;
  font-weight: 400;
}
.chatList-Body {
  height: 72%;
  width: 100%;
  /* background-color: red; */
  overflow-y: scroll;
}
.chatList-Body::-webkit-scrollbar{
    display: none;
}
