@import url('./util.css');
@import url('./pages/login.css');
@import url('./text.css');

.container {
    height: 100vh;
   
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}


